---
import __dirname from '__dirname';
import { WebC } from '@11ty/webc';
import pageUrl from '~/webc/page.webc';
import path from 'path';

const page = new WebC();

const webcGlob = await Astro.glob('/**/*.webc');
const webcFiles = Object.fromEntries(
	webcGlob.flatMap(({ default: relativePath }) => {
		const fileName = relativePath.split('/').at(-1); // grab the last part of the path
		const fileNameWithoutHash = fileName.split('.')[0]; // remove hash and extension
		const isComponent = fileNameWithoutHash.includes('-'); // web components must have a dash

		return isComponent
			? [[fileNameWithoutHash, path.join(__dirname, relativePath)]]
			: [];
	})
);

page.setInputPath(path.join(__dirname, pageUrl));
page.defineComponents(webcFiles);

const { html, css, js } = await page.compile();
---

<div id='root' set:html={html}></div>
<style set:html={css}></style>
<script set:html={js.join('')}></script>
