---
import Webc from '~/webc/Webc.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light dark" />
		<title>webc-demo</title>
		<style>
			body {
				font-family: system-ui, sans-serif;
			}
		</style>
	</head>
	<body>
		<h1>hello from astro</h1>
		<Webc />
	</body>
</html>
