---
import Webc from '~/webc/Webc.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light dark" />
		<title>webc-demo</title>
	</head>
	<body>
		<h1>hello from astro</h1>
		<Webc />

		<style is:global>
			* {
				box-sizing: border-box;
			}
			body {
				font-family: system-ui, sans-serif;
				height: 100vh;
				display: grid;
				align-content: start;
				place-items: center;
				padding: 2rem 1rem;
			}

			[data-theme='light'] {
				color-scheme: light;
			}

			[data-theme='dark'] {
				color-scheme: dark;
			}
		</style>
	</body>
</html>
